html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  border: none;
  font-family: "Fira Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
}

.header {
  background-color: #000000;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.header__logo-john {
  width: 52px;
  height: 14px;
}
.header__logo-titel {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.header__nav-list {
  display: flex;
  gap: 61px;
  list-style: none;
}
.header__nav-link {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.header__burger span {
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background: #ffffff;
}
.header__burger span:nth-child(1) {
  top: 0;
}
.header__burger span:nth-child(2) {
  top: 50%;
}
.header__burger span:nth-child(3) {
  bottom: 0;
}
.header__burger_open {
  transform: rotate(90deg);
}

@media (max-width: 1320px) {
  .header__container {
    padding: 0 45px;
  }
}
@media (max-width: 768px) {
  .header__nav-list {
    gap: 30px;
  }
}
@media (max-width: 670px) {
  .header__nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: #000000;
    padding: 20px 0;
    z-index: 3;
  }
  .header__nav_active {
    display: block;
  }
  .header__nav-list {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 600px) {
  .header__container {
    padding: 0 15px;
  }
}
.program {
  position: relative;
  height: 944px;
  overflow: hidden;
}
.program__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.program__sky {
  height: 521px;
  background-color: #d6f0f6;
}
.program__sea {
  height: 401px;
  background-color: #99cbe8;
}
.program__partners {
  height: 22px;
  background-color: #000000;
}
.program__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.program__details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  gap: 168px;
  z-index: 2;
}
.program__registration {
  padding-top: 114px;
}
.program__registration-title {
  margin: 0;
  font-size: 36px;
  font-weight: 800;
  font-family: "Schibsted Grotesk", sans-serif;
  letter-spacing: 2px;
  line-height: 45px;
}
.program__registration-date {
  margin: 25px 0 55px 0;
  font-size: 24px;
  font-weight: 400;
}
.program__registration-btn {
  width: 393px;
  height: 77px;
  padding: 24px;
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #fea300;
  cursor: pointer;
}
.program__features {
  padding: 0 34px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}

@media (max-width: 1320px) {
  .program__details {
    padding: 0px 45px;
  }
}
@media (max-width: 1024px) {
  .program__details {
    align-items: center;
  }
  .program__img {
    left: -180px;
  }
}
@media (max-width: 768px) {
  .program__img {
    left: -260px;
  }
}
@media (max-width: 670px) {
  .program__img {
    left: -310px;
  }
  .program__registration {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .program__registration-title {
    font-size: 28px;
  }
  .program__registration-date {
    font-size: 20px;
  }
  .program__registration-btn {
    width: 240px;
    font-size: 18px;
  }
  .program__features {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .program__details {
    padding: 0px 15px;
  }
}
@media (max-width: 550px) {
  .program__img {
    left: -375px;
  }
}
@media (max-width: 480px) {
  .program__img {
    left: -410px;
  }
}
@media (max-width: 400px) {
  .program__img {
    left: -485px;
  }
  .program__registration-title {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .program__img {
    left: -521px;
  }
}
.media-section {
  height: 1453px;
  background-color: #000000;
}
.media-section__reviews {
  margin-top: 88px;
}
.media-section__gallery-title, .media-section__reviews-title {
  display: flex;
  justify-content: center;
}
.media-section__gallery-title h3, .media-section__reviews-title h3 {
  margin: 0;
  padding: 100px 0 0 20px;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3px;
}

.review-card {
  display: flex;
  align-items: center;
  gap: 29px;
}
.review-card__content {
  align-self: start;
  color: #ffffff;
}
.review-card__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}
.review-card__position {
  margin: 2px 0 23px 0;
  font-weight: 500;
  font-size: 20px;
}
.review-card__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.reviews-list {
  padding-top: 16px;
  gap: 125px;
}

.slider__list {
  margin: 0;
  padding-left: 90px;
}
.slider__panel-gallery {
  display: flex;
  justify-content: flex-end;
  gap: 322px;
}
.slider__control {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  gap: 18px;
}
.slider__gallery-btn {
  padding: 0;
  border: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fea300;
  background-color: #000000;
  cursor: pointer;
}
.slider__item-review {
  width: 900px;
}

.gallery-slider {
  padding: 52px 0 67px 0;
}

.reviews-slider {
  padding: 52px 0 36px 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  margin: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #000000;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: relative;
  display: flex;
  align-items: center;
  width: 160px;
  top: auto;
  bottom: auto;
  left: auto;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: var(--swiper-pagination-bullet-inactive-color, #ffffff);
}

.swiper-pagination-bullet-active {
  background-color: #fea300;
}

@media (max-width: 1320px) {
  .media-section__reviews {
    margin-top: 44px;
  }
  .slider__panel-gallery {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .slider__control {
    padding: 0;
  }
  .slider__image {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .slider__list {
    padding-left: 62px;
  }
}
@media (max-width: 994px) {
  .reviews-slider {
    padding: 52px 0 10px;
  }
  .slider__item-review {
    width: 450px;
  }
  .review-card {
    flex-direction: column;
    height: 600px;
  }
}
@media (max-width: 864px) {
  .reviews-list {
    gap: 85px;
  }
}
@media (max-width: 768px) {
  .media-section__gallery-title h3, .media-section__reviews-title h3 {
    padding: 100px 0 0 0;
  }
  .reviews-list {
    gap: 55px;
  }
}
@media (max-width: 670px) {
  .slider__image {
    width: 45%;
  }
  .reviews-list {
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .media-section__gallery-title h3, .media-section__reviews-title h3 {
    font-size: 24px;
  }
  .slider__list {
    padding-left: 30px;
  }
  .slider__list_gallery {
    gap: 10px;
  }
  .slider__gallery-btn {
    font-size: 16px;
  }
  .slider__item-review {
    width: 350px;
  }
  .review-card {
    height: 670px;
  }
}
@media (max-width: 550px) {
  .slider__image {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .media-section__gallery-title h3, .media-section__reviews-title h3 {
    font-size: 16px;
  }
  .slider__image {
    width: 35%;
  }
  .reviews-list {
    gap: 9px;
  }
}
@media (max-width: 438px) {
  .slider__list_gallery {
    gap: 15px;
  }
}
@media (max-width: 380px) {
  .slider__list_gallery {
    gap: 22px;
  }
}
@media (max-width: 350px) {
  .slider__list_gallery {
    gap: 35px;
  }
}
@media (max-width: 320px) {
  .reviews-slider {
    padding: 52px 0 20px 0;
  }
  .slider__list {
    padding-left: 10px;
  }
  .slider__item-review {
    width: 280px;
  }
  .review-card {
    height: 720px;
  }
  .reviews-list {
    gap: 3px;
  }
}
.footer {
  height: 100%;
  border-top: 2px solid #fea300;
}
.footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.footer__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.footer__black {
  height: 88px;
  background-color: #000000;
}
.footer__white {
  height: 48px;
  background-color: #ffffff;
}
.footer__content {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 125px;
  padding-top: 18px;
  padding-left: 12px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.footer__contacts-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
  list-style: none;
}
.footer__contacts-name {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}
.footer__contacts-name, .footer__contacts-phone, .footer__contacts-mail {
  margin: 0;
}
.footer__contacts-phone a, .footer__contacts-mail a {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}
.footer__contacts-phone a, .footer__links a {
  text-decoration: none;
}
.footer__links {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  gap: 36px;
}
.footer__links a {
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}

.suffix {
  color: #2b9ccf;
}

@media (max-width: 768px) {
  .footer__container {
    padding: 0 45px;
  }
  .footer__content {
    gap: 40px;
  }
}
@media (max-width: 640px) {
  .footer__container {
    padding: 20px 15px;
  }
  .footer__content {
    padding-top: 0;
    padding-left: 0;
    gap: 10px;
  }
  .footer__contacts-list {
    gap: 10px;
  }
  .footer__contacts-name {
    font-size: 10px;
  }
  .footer__contacts-phone a, .footer__contacts-mail a {
    font-size: 10px;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    gap: 20px;
  }
  .footer__white {
    height: 144px;
  }
}
@media (max-width: 480px) {
  .footer__black {
    height: 281px;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__contacts-list {
    flex-direction: column;
    gap: 10px;
  }
  .footer__contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.registration-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.registration-popup__container {
  width: 620px;
  height: 701px;
  background-color: #ffffff;
  border-radius: 20px;
}
.registration-popup__title {
  margin: 0;
  padding-top: 50px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.registration-popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.registration-popup__input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.registration-popup__input-group input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #858585;
}
.registration-popup__input {
  width: 452px;
  height: 62px;
  padding: 20px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 18px;
}
.registration-popup__checkbox {
  display: flex;
  align-items: center;
  gap: 13px;
  width: 452px;
  height: 40px;
  margin: 40px 0 16px 0;
  padding-left: 10px;
}
.registration-popup__checkbox input[type=checkbox] {
  transform: scale(1.5);
  accent-color: #000000;
}
.registration-popup__checkbox-input {
  cursor: pointer;
}
.registration-popup__checkbox-label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  cursor: pointer;
}
.registration-popup__submit {
  width: 452px;
  height: 77px;
  padding: 24px;
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #fea300;
  cursor: pointer;
}

.open {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
